<div class="dashboard-container">
  <div class="dashboard-nav">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Current Orders</a></li>
      <li><a href="#">Past Orders</a></li>
      <li><a href="#">Inventory</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </div>

    <!-- <%= render "current_orders" %> -->

</div>
<%= render "food_inventory" %>
