.dietary-category {
  border-radius: 5px;
  border: 1px solid #7ADC7A;
  height: 38px;
  width: 119px;
  margin: 5px;
  padding: 5px;
  font-size: 12px;
  color: #545454;
  font-family: "Nunito", sans-serif;
  font-weight: 700;
  list-style: none;
  display: inline;
}
