 <!-- <div class="orders-container"> -->
            <ul class="list-group">
              <% current_user.customer.orders.each do |order| %>
                <li class="list-group-item">
                  <b><%= order.food.name %></b>
                  from
                  <%= order.food.business.name %>
                  at
                  <%= order.food.business.address %>
                  to pickup by
                  <%= order.food.pickup_end.strftime("%I:%M %p") %>
                  tonight
                </li>
              <% end %>
            </ul>

          </div>
        <!-- </div> -->
