<div class="wrapper">
  <div id="box">

    <div class="dashboard-container">
      <ul class="tabs clearfix" data-tabgroup="first-tab-group">
        <li>
          <a href="#tab1" class="active">Current Orders</a>
        </li>
        <li>
          <a href="#tab2">Past orders</a>
        </li>
      </ul>

      <div id="tab1">
        <section id="first-tab-group" class="tabgroup">

          <%= render "current_orders" %>

      </section>
    </div>


    <%= render "edit" %>

  </div>
</div>
