<div class="dashboard-container">
  <div class="dashboard-nav">
    <ul class="nav nav-pills">
      <li class="active"><a href="#">Current Orders</a></li>
      <li><a href="#">Past Orders</a></li>
      <li><a href="#">Shopping Cart</a></li>
      <li><a href="#">Profile</a></li>
    </ul>
  </div>

  <%= render "current_orders" %>
  <%= render "edit" %>



    <!-- <%= render "current_orders" %> -->

</div>


<!-- <div class="wrapper">
  <div id="box">

    <div class="dashboard-container">
      <ul class="tabs clearfix" data-tabgroup="first-tab-group">
        <li>
          <a href="#tab1" class="active">Current Orders</a>
        </li>
        <li>
          <a href="#tab2">Past orders</a>
        </li>
      </ul>

      <div id="tab1">
        <section id="first-tab-group" class="tabgroup">


      </section>
    </div>



  </div>
</div> -->
