<%= content_for(:navbar_class, "navbar-home") %>



<div class="banner">
  <div class="banner-content text-center">
    <h1>Do Good, feel good</h1>
    <p>Really cool and useful app</p>
    <%= link_to "Try it now", foods_path , class: "btn btn-lg btn-success"  %>
  </div>
</div>






