<div class="main-container">
  <div class="food-container">
    <div class="row">


      <% @foods.each do |food| %>
        <div class="col-xs-12">
          <div class="food-card">
            <div class="food-card-icon"></div>
            <div class="food-card-content">
              <div class="food-type">
                <p> <%= food.food_type%></p>
                <h4> <%= food.name %> </h4>
              </div>
              <div class="food-price">
                <h4> <%= food.price%></h4>
              </div>
            </div>
          </div>
        </div>

      <% end %>
    </div>




  </div>

  <div
  id="map"
  data-markers="<%= @markers.to_json %>"
  ></div>

</div>
