<div class="food-show-card">
  <div class="food-picture">
    <%= image_tag "salad" %>
    <div class="diet-icons"></div>
  </div>
  <div class="item-details">
    <div class="food-name">
      <h3>Fettuccine Alfredo</h3>
      <div class="food-description">
        Lorem ipsum dolor sic amet cool description really tasty wow such tasty
      </div>
    </div>
    <div class="food-price">
    $4.<sup>06</sup>
    </div>
  </div>

  <div class="restaurant-details">
    <div class="restaurant-name">
    <h3>Ciro’s Restaurant</h3>
    </div>
    <div class="restaurant-address">
      Ben Yehuda 32, Tel Aviv
    </div>
  </div>

  <div class="order-details">
    <div class="portions-number">
      10 Portions left
    </div>
    <div class="pickup-time">
      Pick-up
      before 16:30
    </div>
  </div>

  <div class="order-button">
    <h4>Order</h4>
  </div>
</div>
