<div class="cont-thanks">
  <h1>Thanks for you purchase 😃 </h1>

    <div class="dashb-btn">
      <%= link_to "My Dashboard", dashboard_path %>
    </div>

    <div class="homebtn">
      <%= link_to "Home", foods_path %>
    </div>

</div>
