.food-show-card {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #545454;
  width: 487px;
  height: 686px;

  box-shadow: 0px 0px 18px -5px #000;

  padding: 18px;
  background-color: #ffffff;

  h3 {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #003C12;
  }
}

.food-picture {
  width: 452px;
  height: 281px;
}

.diet-icons {

}

.item-details {
  display: flex;
  align-items: center;
}


.food-name {
  width: 60%;
}

.food-description {

}

.food-price {
  font-family: "Nunito", sans-serif;
  font-size: 34px;
  color: #922B3E;
  align-content: flex-end;
  width: 25%;
  font-weight: 600;
  padding-top: 5px;
  .currency {
    margin-right: 2px;
  }
  sup {
    font-size: 18px;
  }
}

.restaurant-details {

}

.restaurant-name {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #004C17;
}

.restaurant-address {

}

.order-details {

}

.portions-number {
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  color: #004C17;
}

.pickup-time {
  font-family: "Nunito", sans-serif;
  font-size: 14px;

}

.order-button {
  display: flex;
  justify-content: center;
  width: 405px;
  height: 66px;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  background-color: #004C17;
  color: #ffffff;
  border-radius: 25px;
   align-items: center;
  margin: 0 auto;
  h4 {
    font-size: 24px;
  }
}
