.inventory {
  color: #545454;
  font-family: "Nunito", sans-serif;
}

.food-card {
  width: 250px;
  background-color: #fff;

  border: 1px green;
}
.food-img {
  width: 230px;
  margin: 0 auto;
}

.food-details h2 {
  font-size: 20px;
  font-weight: 600;
  color: #003C12;

}

.food-portions {

}
.order-info {

}
.price {

}
.edit-btn {

}
