.dashboard-nav {
  margin-top: 70px;

  a:hover {
  background-color: #D4FFD1 !important;
  }

  a {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #003C12 !important;
    padding: 0 auto !important;
  }
}

  ul {
    background-color: #F3FFF2;
  }

  ul li {
    width: 25%;
    margin:0 !important;
    background-color: #F3FFF2;
  }

  li.active a {
          background-color: #00A218 !important;
          color: #fff !important;
          // height: 100%;
    }


